.header-mobile {
    @include desktop {
        display: none;
    }
}
.header-mobile .header-mobile-container {
    .header-mobile-left {
        i {
            @include mobile {
                font-size: 10px;
            }
        }
    }
}
.header-mobile .header-mobile-container {
    .header-mobile-logo {
        img {
            @include tablet {
                width: 124px;
            }
            @include mobile {
                width: 100px;
            }
        }
    }
}
// .header-mobile .header-mobile-container {
//     .header-mobile-right {
//         i {
//             @include mobile {
//                 font-size: 8px;
//             }
//         }
//     }
// }
